body {
    margin: 0 !important;
    font-family: var(--fontFamilySans) !important;
    line-height: var(--lineHeightLoose) !important;
    font-weight: var(--fontWeightNormal) !important;
    background-color: #fff !important;
    color: var(--colorText) !important;
}

.PublishedWithTana_publishedWithTana__y84Qr img {
    border: none !important;
    display: none !important;
}

.Footer_footer__7P_P0 {
    display: none !important;
}
